# CMSIS-DAP debug probe on the BBC micro:bit (V1 and V2). Lets probe-rs talk
# to the board's USB debug interface without root/sudo.
#
# Install with:
#   sudo cp udev/69-microbit.rules /etc/udev/rules.d/
#   sudo udevadm control --reload
#   sudo udevadm trigger   # or unplug/replug the board

ACTION!="add|change", GOTO="microbit_rules_end"

SUBSYSTEM=="usb", ATTR{idVendor}=="0d28", ATTR{idProduct}=="0204", TAG+="uaccess"

LABEL="microbit_rules_end"
